h1 {
  font-family: Georgia, serif; 
  text-align: center; 
  
}
.nav {
  display: flex; 
  list-style: none;
  gap: 2rem; 

}

p { 
  font-family: Georgia, serif;
}
article {
  margin: 50px 400px;
}
.center {
  text-align: center;
}
nav {
  background-color: LightGray; 
  font-family: Georgia, serif; 
  font-size: 30px 
} 
header {
    text-align: center; 
}
