h1 {
  font-family: Georgia, serif; 
  text-align: center; 
  
}
.nav {
  display: flex; 
  list-style: none;
  gap: 2rem; 
  color: black; 


}

p { 
  font-family: Georgia, serif;
}
article {
  margin: 50px 400px;
}
.paper {
  text-align: center;
  border: 2px solid Black; 
  margin: 300px; 
  border-radius: 8px; 
}
nav {
  background-color: LightGray; 
  font-family: Georgia, serif; 
  font-size: 30px 
  text-align: right; 

  
} 
header {
    text-align: center; 
}
