
@import "{{ 
body {
  font-family: Georgia, serif; 
}

h1 {
  font-family: Georgia, serif; 
  text-align: center; 
  
}
.nav {
  display: flex; 
  list-style: none;
  gap: 2rem; 
  color: black; 
  margin: 0px; 


}

p { 
  font-family: Georgia, serif;
}
article {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  overflow-wrap: break-word;

.paper {
  text-align: center;
  border: 2px solid black; 
  margin: 30px; 
  border-radius: 8px; 
}
nav {
  background-color: LightGray; 
  font-family: Georgia, serif; 
  font-size: 30px 
  text-align: right; 

  
} 
header {
    text-align: center; 
}
}}";
